.dash-div {
    background-color: #F9F9F9 !important;
    /* height: 1220px ; */
}

.chart-line {
    background-color: #FFFFFF;
    border-radius: 30px;
    margin-bottom: 32px;
    margin-top: 48px;
    padding: 32px;
    margin-right: 15px;
    /* border: 1px solid rgb(184, 184, 184); */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.cardContainer{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media (max-width:1980px) {
    .dash-div{
        height:1550px;
    }
}
@media (max-width:1600px) {
    .dash-div{
        height: 1400px;
    }
}
@media (max-width:1200px) {
    .dash-div{
        height: 1450px;
    }
}
@media screen and (max-width: 768px) {


    .chart-line {
        height: 400px !important;
    }
}

@media screen and (max-width: 639px) {


    .chart-line {
        height: 400px !important;
    }
}