* {
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f3f3f3; 
  border-radius: 10px; /* Adjust the border-radius to curve the scrollbar thumb */
}
::-webkit-scrollbar-thumb {
  background: #070029; 
  border-radius: 10px; /* Adjust the border-radius to curve the scrollbar thumb */
}


/* ------ Image Gallery Css --------------*/
img.image-gallery-image {
  overflow: hidden;
  border-radius: 8px !important}
  .image-gallery-slide.image-gallery-center{
    border-radius: 8px !important;
    overflow: hidden;
  }

  img.image-gallery-image {
    width: 377px !important;
    height: 243px !important;
    object-fit: cover !important;
}
img.image-gallery-thumbnail-image {
  width: 100% !important;
  height: 80px !important;
  object-fit: cover !important;}

/* ============================*/
