.player-div {
    background-color: #F9F9F9 !important;
    height: 760px !important;
}

table {
    border-collapse: collapse;
    width: 100%;
}
.pngFilter{
    filter: sepia(0.5) hue-rotate(180deg) brightness(0.5);

}
th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #fff;
}

tr:nth-child(even) {
    background-color: #f1f5fd;
}

#icon {
    position: relative;
    right: 42px;
    top: 16px;
    width: 24px;
    height: 24px;
    color: #D0D5DD;
}

/* Responsiveness */
@media screen and (max-width: 1280px) {
    .input-tag {
        width: 100%;
    }

    .user-div {
        height: 980px !important;
    }
}

/* Responsiveness */
@media screen and (max-width: 1024px) {
    .player-div {
        height: 900px !important;
    }
}